@charset "utf-8";
/* CSS Document */

/* ====================== Variables ====================== */
:root {
  --max-width: 1175px;
  --restaurant-li-inner-gap: 25px;
  --restaurant-li-width: 375px;
  --restaurant-li-inner-margin: calc(var(--restaurant-li-inner-gap) / 2);
  --restaurant-li-outer-margin: calc((100% - 3*var(--restaurant-li-width) - var(--restaurant-li-inner-gap)*2)/2);
}

/* ====================== Navigation ====================== */


/* ====================== Map ====================== */
#map {
  width: var(--max-width);
}

#map-container {
  width: var(--max-width);
  margin: auto;
}


/* ====================== Restaurant Filtering ====================== */
#filter {
  width: var(--max-width);
  margin: auto;
}

/* ====================== Restaurant Listing ====================== */
#restaurant-container {
  width: var(--max-width);
  margin: auto;
}

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li:nth-child(3n+1) {
  margin: 0 var(--restaurant-li-inner-margin) 40px var(--restaurant-li-outer-margin);
}

#restaurants-list li:nth-child(3n+2) {
  margin: 0 var(--restaurant-li-inner-margin) 40px var(--restaurant-li-inner-margin);
}

#restaurants-list li:nth-child(3n+0) {
  margin: 0 var(--restaurant-li-outer-margin) 40px var(--restaurant-li-inner-margin);
}

/* ====================== Restaurant Details ====================== */
.inside #map {
  width: 100%;
  height: 292px;
}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-intro {
  max-width: 800px;
  margin: auto;
}

.restaurant-address,
.restaurant-hours {
  width: 50%;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: white;
}

#restaurant-container section:nth-child(2),
#restaurant-container section:nth-child(3) {
  padding: 1px 0 0 0;
  background-color: white;
}


#restaurant-container section:nth-child(4) {
  padding: 1px 0 0 0;
  background-color: inherit;
}

#reviews-list li:nth-child(even) {
  background-color: inherit;
}

td {
  padding: 10px 58.750px 10px 58.750px;
}
