@charset "utf-8";
/* CSS Document */

/* ====================== Variables ====================== */
:root {
  --max-width: 1175px;
  --restaurant-li-inner-gap: 25px;
  --restaurant-li-width: 375px;
  --restaurant-li-inner-margin: calc(var(--restaurant-li-inner-gap) / 2);
  --restaurant-li-outer-margin: calc((100% - 3*var(--restaurant-li-width) - var(--restaurant-li-inner-gap)*2)/2);
}

/* ====================== Navigation ====================== */


/* ====================== Map ====================== */
#map {
  width: var(--max-width);
}

#map-container {
  width: var(--max-width);
  margin: auto;
}


/* ====================== Restaurant Filtering ====================== */
#filter {
  width: var(--max-width);
  margin: auto;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li:nth-child(3n+1) {
  margin: 0 var(--restaurant-li-inner-margin) 40px var(--restaurant-li-outer-margin);
}

#restaurants-list li:nth-child(3n+2) {
  margin: 0 var(--restaurant-li-inner-margin) 40px var(--restaurant-li-inner-margin);
}

#restaurants-list li:nth-child(3n+0) {
  margin: 0 var(--restaurant-li-outer-margin) 40px var(--restaurant-li-inner-margin);
}

/* ====================== Restaurant Details ====================== */
